li a {
    color: aquamarine;
    font-size: xx-large;
}

body {
    height: 200px;
    background-color: #cccccc;
    
    background-image: url("minions.jpg"), url("paper.jfif");
    background-repeat: no-repeat, repeat;
}


h1 {
    color: aquamarine;
}

ul {
    color: aquamarine;
}

fieldset {
    color: aquamarine;
}

a {
    color: aquamarine;
}