li a {
    color: aquamarine;
    font-size: xx-large;
}

body {
    height: 200px;
    background-image: url('{% media "polls/minions.jpg" %}'), url('{% media "polls/paper.jfif" %}');
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
}


h1 {
    color: aquamarine;
}

ul {
    color: aquamarine;
}

fieldset {
    color: aquamarine;
}

a {
    color: aquamarine;
}
